In [41]:
import pandas as pd
data=pd.read_csv("/content/train.csv")
print(data.head(),  end='\n')

''' a) Look for the missing values in all the columns and either impute them (replace with mean,
median, or mode) or drop them'''
# check for null values
print(data.isna().sum(),  end='\n')

data_2= pd.DataFrame(data)

# (b) Removed the units from Mileage, Engine, Power and New_Price and converted them into float
data_2['Mileage'] = data_2['Mileage'].str.extract('(\d+\.\d+)').astype(float)
data_2['Engine'] = data_2['Engine'].str.replace(' CC', '').astype(float)
data_2['Power'] = data_2['Power'].str.extract('(\d+\.\d+)').astype(float)
data_2['New_Price'] = data_2['New_Price'].str.extract('(\d+\.\d+)').astype(float)

print("Solution for a\n")
'''(a)
Replace the NA values of Mileage, Engine and Power with median
The median is the best way to replace outlier values because it keeps the "middle" value of the dataset the same and doesn't get affected by outliers.
Because the number of seats is a discrete quantitative variable, the mode should be used to replace any missing values.
However, because the Newprice column has many missing values, it is better to drop it altogether, as imputing any values could result in outliers.
'''

data_2['Mileage'].fillna(data_2['Mileage'].median(),inplace=True)
data_2['Engine'].fillna(data_2['Engine'].median(),inplace=True)
data_2['Power'].fillna(data_2['Power'].median(),inplace=True)
data_2['Seats'].fillna(data_2['Seats'].mode()[0],inplace=True)
data_2.drop('New_Price', axis=1, inplace=True)

output_csv_file = '/content/cleaned_data.csv'

data_2.to_csv(output_csv_file, index=False)


data_1=pd.read_csv("/content/cleaned_data.csv")
print(data_1.isna().sum(),  end='\n')

data_1['Fuel_Type'].unique()
data_1['Transmission'].unique()
data_1['Owner_Type'].unique()

print("Solution for C\n")
# (c) Convert the above categorical variables to numerical using one hot encoding
data_1['Fuel_Type'].replace({'Diesel': 0, 'Petrol': 1, 'Electric': 2}, inplace=True)
data_1['Transmission'].replace({'Manual': 0, 'Automatic': 1}, inplace=True)
data_1['Owner_Type'].replace({'First': 1, 'Second': 2, 'Third': 3, 'Fourth & Above': 4}, inplace=True)

print(data_1.head(), end = '\n')

#Save the encoded data in separate csv file
output_csv_file = '/content/encoded_data.csv'
data_1.to_csv(output_csv_file, index=False)

# (d) Add the new column Fuel efficiency = Mileage / Odometer
'''
 fuel efficiency of each car in kilometers per liter.
 This could be a useful feature for buyers who are looking for a fuel-efficient car.
'''

data_1['Fuel_efficiency'] = data_1['Mileage'] / data_1['Kilometers_Driven']

print("Solution for (d) is\n ")

#Save the file with newly added Current_Age colmun in separate file
output_csv_file = '/content/mutated_data.csv'
data_1.to_csv(output_csv_file, index=False)

data_3=pd.read_csv("/content/mutated_data.csv")
data_3.head()

   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Fuel_Type Transmission Owner_Type     Mileage   Engine  \
0              41000    Diesel       Manual      First  19.67 kmpl  1582 CC
1              46000    Petrol       Manual      First    13 km/kg  1199 CC
2              87000    Diesel       Manual      First  20.77 kmpl  1248 CC
3              40670    Diesel    Automatic     Second   15.2 kmpl  1968 CC
4              86999    Diesel       Manual      First  23.08 kmpl  1461 CC

       Power  Seats  New_Price  Price
0  126.2 bhp    5.0        NaN  12.50
1   88.7 bhp    5.0  8.61 Lakh   4.50
2  88.76 bhp    7.0        NaN   6.00
3  140.8 bhp    5.0        NaN  17.74
4   63.1 bhp    5.0        NaN   3.50
Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64
Solution for a

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64
Solution for C

   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven  Fuel_Type  Transmission  Owner_Type  Mileage  Engine  \
0              41000          0             0           1    19.67  1582.0
1              46000          1             0           1    18.19  1199.0
2              87000          0             0           1    20.77  1248.0
3              40670          0             1           2    15.20  1968.0
4              86999          0             0           1    23.08  1461.0

    Power  Seats  Price
0  126.20    5.0  12.50
1   88.70    5.0   4.50
2   88.76    7.0   6.00
3  140.80    5.0  17.74
4   63.10    5.0   3.50
Solution for (d) is

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_efficiency
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,1,19.67,1582.0,126.20,5.0,12.50,0.000480
1,2,Honda Jazz V,Chennai,2011,46000,1,0,1,18.19,1199.0,88.70,5.0,4.50,0.000395
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,1,20.77,1248.0,88.76,7.0,6.00,0.000239
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,2,15.20,1968.0,140.80,5.0,17.74,0.000374
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,1,23.08,1461.0,63.10,5.0,3.50,0.000265